<p-toast></p-toast>
<section class="content">
  <div class="block-header">
  </div>
  <div class="container-fluid">
    <!-- Exportable Table -->
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Quản lý <strong>sản phẩm</strong></h2>
            <ul class="header-dropdown">
              <li>
                <a (click)="create()"><i class="mdi mdi-plus-circle"></i></a>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
            <p-table [value]="list" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="rows"
                     [totalRecords]="totalRecords"
                     [loading]="loading">
              <ng-template pTemplate="header">
                <tr>
                  <th>#</th>
                  <th>Tên</th>
                  <th>Hình ảnh</th>
                  <th>Số lượng</th>
                  <th>Giá</th>
                  <th>Giảm giá</th>
                  <th>Trạng thái</th>
                  <th>Thao tác</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{item.name}}</td>
                  <td>
                    <img style="width: 40px; vertical-align: middle; object-fit: cover"
                         src="{{item.images[0].name|getImage}}" alt="">
                  </td>
                  <td>{{item.totalQty}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.sale}}%</td>
                  <td>
                    <p-inputSwitch (onChange)="handleChange($event, item.id)" [inputId]="item.id"
                                   [ngModel]="item.status"></p-inputSwitch>
                  </td>
                  <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
                            (click)="edit(item.id)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="delete(item.id)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Exportable Table -->
  </div>
</section>
<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="largeModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-blue-grey">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title">{{ aoe ? "Thêm sản phẩm" : "Cập nhật sản phẩm" }}</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Tên sản phẩm <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" formControlName="name">
            <div *ngIf="submitted && form.controls.name.errors">
              <label class="text-danger" *ngIf="form.controls.name.errors.required">Chưa nhập tên sản phẩm.</label>
              <label class="text-danger" *ngIf="form.controls.name.errors.minlength">Tên danh mục phải trên 2 ký tự.</label>
              <label class="text-danger" *ngIf="form.controls.name.errors.maxlength">Tên danh mục phải dưới 250 ký tự.</label>
            </div>
          </div>
          <div class="form-group">
            <label>Đường dẫn</label>
            <input type="text" class="form-control" placeholder="Nhập đường dẫn" formControlName="slug">
            <div *ngIf="submitted && form.controls.slug.errors">
              <label class="text-danger" *ngIf="form.controls.slug.errors.maxlength">Đường dẫn phải dưới 250 ký tự.</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Giá bán <span class="text-danger">*</span></label>
                <input type="number" placeholder="Nhập giá bán" class="form-control"
                       formControlName="price">
                <div *ngIf="submitted && form.controls.price.errors">
                  <label class="text-danger" *ngIf="form.controls.price.errors.required">Chưa nhập giá sản phẩm.</label>
                  <label class="text-danger" *ngIf="form.controls.price.errors.minlength">Giá sản phẩm phải lớn hơn 0.</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Giảm giá</label>
                <input type="number" placeholder="Nhập giảm giá tối đa 100%" class="form-control"
                       formControlName="sale">
                <div *ngIf="submitted && form.controls.sale.errors">
                  <label class="text-danger" *ngIf="form.controls.sale.errors.maxlength">Giảm giá phải nhỏ hơn 100%.</label>
                  <label class="text-danger" *ngIf="form.controls.sale.errors.minlength">Giảm giá phải lớn hơn 0%.</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Mô tả</label>
            <ckeditor [editor]="Editor" [style]="{'height': '400px'}" formControlName="description"></ckeditor>
          </div>
          <div class="form-group">
            <label>Bài viết</label>
            <ckeditor [editor]="Editor" [style]="{'height': '400px'}" formControlName="content"></ckeditor>
          </div>
          <div class="form-group" formArrayName="options">
            <ng-container *ngFor="let itemrow of form.controls.options['controls']; let i=index" [formGroupName]="i">
              <div class="row">
                <div class="col-md-4">
                  <label>Màu sắc <span class="text-danger">*</span></label>
                  <div class="input-group">
                    <input type="text" placeholder="Nhập mã màu" formControlName="name" class="form-control"
                           value="{{formArr.value[i].name}}">
                    <span class="input-group-addon">
                    <p-colorPicker formControlName="color" (onChange)="changeColor($event, i)"></p-colorPicker> </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Số lượng <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" placeholder="Nhập số lượng" formControlName="quantity"
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Thêm giá <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" placeholder="Nhập thêm giá" formControlName="price"
                    >
                  </div>
                </div>
                <div class="col-md-1">
                  <label>Xóa</label>
                  <button pButton pRipple [disabled]="i == 0" type="button" (click)="deleteRow(i)" icon="pi pi-times"
                          class="p-button-rounded p-button-danger"></button>
                </div>
              </div>
<!--              <div *ngIf="submitted && formArr.controls['name'].errors">-->
<!--                <label class="text-danger" *ngIf="form.controls.name.errors.required">Chưa nhập mã màu.</label>-->
<!--                <label class="text-danger" *ngIf="form.controls.quantity.errors.required">Chưa nhập số lượng.</label>-->
<!--                <label class="text-danger" *ngIf="form.controls.price.errors.required">Chưa nhập thêm giá.</label>-->
<!--              </div>-->
            </ng-container>
            <button type="button" class="btn btn-primary" (click)="addNewRow()">Thêm màu sắc</button>
          </div>
          <div class="form-group">
            <label>Hình ảnh <span *ngIf="!aoe" class="text-danger">(Không thay đổi nếu không
                                chọn ảnh)</span></label>
            <p-fileUpload #file mode="advanced" [showUploadButton]="false" [showCancelButton]="false"
                          chooseLabel="Chọn ảnh" [multiple]="true" accept="image/*" maxFileSize="1000000">
              <ng-template pTemplate="content">
                <ng-container *ngFor="let item of images">
                  <img *ngIf="item.name && !aoe"
                       style="width: 30px; vertical-align: middle; margin-top: 5px; margin-right: 5px;"
                       src="{{item.name|getImage}}">
                </ng-container>
              </ng-template>
            </p-fileUpload>
          </div>
          <div class="form-group">
            <label>Danh mục <span class="text-danger">*</span></label><br>
            <p-listbox [options]="categories" formControlName="category" optionLabel="name"
                       [style]="{'width':'100%'}"></p-listbox>
            <div *ngIf="submitted && form.controls.category.errors">
              <label class="text-danger" *ngIf="form.controls.category.errors.maxlength">Chưa chọn danh mục.</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-bold btn-pure btn-primary float-right">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /.modal -->
